.block {
    border: 1px solid black;
    float: left;

    &--hover {
        background-color: black;
    }

    &--containsShip {
        background-color: blue;
    }

    &--targeted {
        background-color: green;

        &-hit {
            background-color: red;
        }
    }

    &--selected {
        background-color: green;

        &-error {
            background-color: red;
        }
    }
}